* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.logo-mario {
    height: 200px;
}


button {
    color: white;
    background-color: #c51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
}

.botao:hover {
    color: black;
    font-size: 15px;

}

.mario-luigi {
    height: 400px;
}

body {
    height: 100vh;

}


.caixa-principal {
    width: 50%;

}

.pai {
    display: flex;
    padding: 100px;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    /*separação das divs */
}

video {
    position: fixed;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    top: 0;

}

.mascara {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
    z-index: -1;
}

p {
    color: #fff;
}

.link-whatsapp img {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;
    position: fixed;


}


.header img {
    height: 60px;

}

.header a {

    color: #fff;
    font-size: 20px;
    cursor: pointer;

}

.header a:hover {
    /* hover - usado quando quero criar algum efento.   ex: ao passar o mouse no meu botão ele fica maior*/

    color: #c51111;
    font-size: 26px;
    transition: 1s ease-in-out;
    /* usado para deixar o tempo de uma função para outra. para não ficar algo muito desordernado*/

}

.formulario {

    background-color: white;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: fixed;
    top: 0;
    padding: 20px;
    border-radius: 5px;
    top: 30%;
    left: -500px;
    z-index: 1;
    transition: left 1s ease-in-out;
}

input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18d80f;
}

textarea {

    width: 270px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18d80f;
}

.mascara-formulario {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
transition: visibility 1s ease-in-out;
}


/* inicial 
top: 30%
left -500px*/

/* final
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
*/